.container{
    width: 100vw;
    height: auto;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: brown;
}

.menu{
    display: flex;
    gap: 50px;
    list-style-type: none;
    
}

.img{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 5px;
}

.img img{
    width: 20%;

    border-radius: 50%;
}